# Включаем все необходимые файлы данных
include README.md
include requirements.txt
recursive-include desktop_segmentation_modeling/images *
recursive-include desktop_segmentation_modeling/Coordinates/predictmdl/checkpoints *
include desktop_segmentation_modeling/style.qss
include desktop_segmentation_modeling/design.ui

# Включаем все файлы из checkpoints (модели, логи, csv)
recursive-include desktop_segmentation_modeling/Coordinates/predictmdl/checkpoints *.t7
recursive-include desktop_segmentation_modeling/Coordinates/predictmdl/checkpoints *.log
recursive-include desktop_segmentation_modeling/Coordinates/predictmdl/checkpoints *.csv
