QMenuBar::item {
    background-color: #3F3F46; /* Цвет фона элементов меню */
}

QMenuBar::item:selected {
    background-color: #52525a; /* Цвет фона выбранных элементов меню */ 
}

QMenu::item {
    background-color: #3F3F46; /* Цвет фона элементов меню */
}

QMenu::item:selected {
    background-color: #52525a; /* Цвет фона выбранных элементов меню */
}